# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Data and Databases
data/
*.sqlite3
*.db
chroma_db/

# Type Checking & Testing
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
*.log
.deepeval/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


/planner